<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button> </ion-back-button>
        </ion-buttons>
        <ion-title>Ajouter un dressing </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-item>
        <ion-title class="title"> Ça te prend 2 secondes !</ion-title>
      </ion-item>

            <ion-button><ion-img src="/assets/appareil.svg" /></ion-button>
      <ion-button><ion-img src="/assets/photo.svg" /></ion-button>

      <ion-grid>
        <ion-row>
          <ion-col style="text-align: right">
            <div>
              <ion-button expand="block">
                <ion-icon :icon="image"></ion-icon>
                Ajouter une photo
              </ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-button expand="block">
                <ion-icon :icon="camera"></ion-icon>
                Prendre une photo
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-img
                style="text-align: center"
                class="hihi"
                src="/assets/img1.svg"
              />
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col style="text-align: right">
            <div>Nom:</div>
          </ion-col>
          <ion-col style="text-align: left">
            <div>
              <ion-input placeholder="Dressing de Pierre..."></ion-input>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="text-align: right">
            <div>Description:</div>
          </ion-col>
          <ion-col style="text-align: left">
            <div>
              <ion-textarea
                required="true"
                inputmode="text"
                placeholder="[...]"
              ></ion-textarea>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>

              <ion-button expand="block">
                <ion-icon :icon="add"></ion-icon>
                Créer
              </ion-button>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import { camera, image, close, add } from "ionicons/icons";
import {
  IonPage,
  IonTitle,
  IonContent,
  IonButton,
  IonButtons,
  IonBackButton,
  IonImg,
  IonGrid,
  IonRow,
  IonCol,
  IonToolbar,
  IonHeader,
  IonInput,
  IonTextarea,
  IonItem,
  IonIcon,
  IonFooter,
} from "@ionic/vue";

export default {
  components: {
    IonImg,
    IonTitle,
    IonContent,
    IonPage,
    IonButton,
    IonButtons,
    IonBackButton,
    IonGrid,
    IonRow,
    IonCol,
    IonToolbar,
    IonHeader,
    IonInput,
    IonTextarea,
    IonItem,
    IonIcon,
    IonFooter,
  },
  setup() {
    return {
      camera,
      image,
      close,
      add,
    };
  },
};
</script>

<style scoped>
ion-col {
  text-align: center;
}
.title {
  text-align: center;
}
ion-title {
  text-align: center;
}
.hihi {
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
  max-height: 45%;
}

.text-input {
  text-align: left;
}
.imghalfsize {
  max-width: 30%;
  max-height: 30%;
}
</style>
