<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="home/"> </ion-back-button>
        </ion-buttons>
        <ion-title>Ajouter un vêtement </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-item class="title">
        <ion-text>C'est simple !</ion-text>
      </ion-item>

      <ion-button><ion-img src="/assets/appareil.svg" /></ion-button>
      <ion-button><ion-img src="/assets/photo.svg" /></ion-button>
      <div>
        <ion-img class="imghalfsize" src="/assets/scr.png" />
      </div>
      <div>
        <ion-grid class="ion-padding ion-align-items-center">
          <ion-row>
            <ion-title class="center">Nom: </ion-title>
            <ion-input placeholder="Dressing de Pierre..."></ion-input>
          </ion-row>
          <ion-row>
            <ion-title class="center">Description: </ion-title>
            <ion-textarea
              required="true"
              inputmode="text"
              placeholder="[...]"
            ></ion-textarea>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button href="/tabs/dressings" color="medium"
              >Annuler</ion-button
            >
            <ion-button color="tertiary">Ajouter</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonTitle,
  IonContent,
  IonButton,
  IonButtons,
  IonBackButton,
  IonImg,
  IonItem,
  IonGrid,
  IonRow,
  IonCol,
  IonToolbar,
  IonHeader,
  IonText,
  IonInput,
  IonTextarea,
  IonFooter,
} from "@ionic/vue";

export default {
  components: {
    IonImg,
    IonItem,
    IonTitle,
    IonContent,
    IonPage,
    IonButton,
    IonButtons,
    IonBackButton,
    IonGrid,
    IonRow,
    IonCol,
    IonToolbar,
    IonHeader,
    IonText,
    IonInput,
    IonTextarea,
    IonFooter,
  },
};
</script>

<style scoped>
ion-col {
  text-align: center;
}
.title {
  text-align: center;
}
ion-title {
  text-align: center;
}
.imghalfsize {
  max-width: 30%;
  max-height: 30%;
}
</style>
