<template>
  <ion-page>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button> </ion-back-button>
      </ion-buttons>
      <ion-title class="text">CGU & RGPD </ion-title>
    </ion-toolbar>
    <ion-content>
      <div>
      <ion-text color="secondary">
        <h1>CGU</h1>
      </ion-text>

      <ion-text>
        <p>**Termes et conditions d'utilisation de <b>SAPE-MOI</b></p></ion-text
      >
      <ion-text color="secondary">
        <h3><b>1. Conditions**</b></h3>
      </ion-text>

      <ion-text>
        <p>
          En utilisant <b>SAPE-MOI</b>, vous acceptez d'être lié par les
          présentes conditions d'utilisation, toutes les lois et réglementations
          applicables, et acceptez que vous êtes responsable de la conformité
          avec toutes les lois locales applicables.
        </p></ion-text
      >

      <ion-text>
        <p>
          Si vous n'êtes pas d'accord avec l'une de ces conditions, il vous est
          interdit d'utiliser ou d'accéder à l'application mobile et au site Web
          <b>SAPE-MOI</b>. Le matériel contenu dans l'application et le site Web
          <b>SAPE-MOI</b> est protégé par le droit d'auteur et le droit des
          marques applicables.
        </p></ion-text
      >

      <ion-text color="secondary">
        <h3><b>2. Licence d'utilisation**</b></h3>
      </ion-text>

      <ion-text>
        <p>
          1. L'autorisation est accordée de télécharger temporairement une copie
          des matériaux (informations ou logiciels) sur <b>SAPE-MOI</b> pour des
          raisons personnelles, non commerciales et transitoires uniquement.
        </p></ion-text
      >

      <ion-text>
        <p>
          Il s'agit de l'octroi d'une licence, et non d'un transfert de titre,
          et sous cette licence vous ne pouvez pas :
        </p></ion-text
      >

      <ion-text> <p>a) modifier ou copier les matériaux ;</p></ion-text>

      <ion-text>
        <p>
          b) utiliser le matériel à des fins commerciales ou pour tout affichage
          public (commercial ou non commercial)
        </p></ion-text
      >
      <ion-text>
        <p>
          c) tenter de décompiler ou de désosser tout logiciel contenu sur le
          site Web de <b>sape-moi.com</b> ou l'application mobile
          <b>SAPE-MOI</b> ;
        </p></ion-text
      >
      <ion-text>
        <p>
          d) supprimer tout droit d'auteur ou toute autre mention de propriété
          des documents ; ou
        </p></ion-text
      >
      <ion-text>
        <p>
          e) transférer le matériel à une autre personne ou le "refléter" sur un
          autre serveur.
        </p></ion-text
      >
      <ion-text>
        <p>
          2. Cette licence sera automatiquement résiliée si vous violez l'une de
          ces restrictions et peut être résiliée par <b>SAPE-MOI</b> à tout
          moment.
        </p></ion-text
      >
      <ion-text>
        <p>
          Dès la fin de la visualisation de ces éléments ou la résiliation de
          cette licence, vous devez détruire tous les documents téléchargés en
          votre possession, que ce soit sous forme électronique ou imprimée.
        </p></ion-text
      >

      <ion-text color="secondary">
        <h3><b>3. Clause de non-responsabilité**</b></h3>
      </ion-text>

      <ion-text>
        <p>
          Les documents du site Web de sape-moi.com et de l'application
          <b>SAPE-MOI</b> sont fournis tels quels en l'état. <b>SAPE-MOI</b> ne
          donne aucune garantie, expresse ou implicite, et rejette par la
          présente toute autre garantie, y compris, sans limitation garanties
          implicites ou conditions de qualité marchande, d'aptitude à un usage
          particulier d'adéquation à un usage particulier, ou de non-violation
          de la propriété intellectuelle ou autre violation des droits. En
          outre, <b>SAPE-MOI</b> ne garantit ni ne fait aucune représentation
          concernant l'exactitude, les résultats probables ou la fiabilité de
          l'utilisation des matériaux sur le site. La fiabilité de l'utilisation
          des matériaux sur son site Internet ou en relation autrement liés à
          ces matériaux ou à tout autre site lié à ce site ou l'application
          mobile <b>SAPE-MOI</b>.
        </p></ion-text
      >

      <ion-text color="secondary">
        <h3><b>4. Limitations**</b></h3>
      </ion-text>

      <ion-text>
        <p>
          En aucun cas, <b>sape-moi.com</b> ou l'application <b>SAPE-MOI</b> ou
          ses fournisseurs ne seront responsables pour tout dommage (y compris,
          mais sans s'y limiter, les dommages pour la perte de données ou de
          profit, ou en raison d'une interruption d'activité) découlant de
          l'utilisation ou de l'incapacité à utiliser le matériel du site
          Internet de <b>sape-moi.com</b> ou de l'application mobile de
          <b>sape-moi.com</b>, même si <b>SAPE-MOI</b> ou un représentant
          autorisé de <b>SAPE-MOI</b> a été informé oralement ou par écrit de la
          possibilité de tels dommages. Étant donné que certaines juridictions
          n'autorisent pas les limitations sur les garanties implicites ou les
          limitations de responsabilité pour les dommages consécutifs ou
          accidentels, ces limitations peuvent ne pas s'appliquer à vous.
        </p></ion-text
      >

      <ion-text color="secondary">
        <h3><b>5. Révisions et errata**</b></h3>
      </ion-text>

      <ion-text>
        <p>
          Le matériel apparaissant sur <b>SAPE-MOI</b> peut inclure des erreurs
          techniques, typographiques ou photographiques. <b>SAPE-MOI</b> ne
          garantit pas que les matériaux sur son site web ou son application
          mobile sont exacts, complets, ou actuels. <b>SAPE-MOI</b> peut
          apporter des modifications au matériel contenu sur son site web ou son
          application mobile à tout moment sans préavis. Cependant,
          <b>SAPE-MOI</b> ne s'engage pas à mettre à jour les documents.
        </p></ion-text
      >

      <ion-text color="secondary">
        <h3><b>6. Liens**</b></h3>
      </ion-text>

      <ion-text>
        <p>
          sape-moi.com ou <b>SAPE-MOI</b> n'a pas examiné tous les sites liés à
          son site Internet et n'est pas responsable du contenu de ces sites.
          L'inclusion de tout lien n'implique pas l'approbation par sape-moi.com
          ou <b>SAPE-MOI</b> de ce site. L'utilisation d'un tel site est aux
          risques et périls de l'utilisateur.
        </p></ion-text
      >

      <ion-text color="secondary">
        <h3><b>7. Modifications des conditions d'utilisation du site**</b></h3>
      </ion-text>

      <ion-text>
        <p>
          <b>SAPE-MOI</b> peut réviser ces conditions d'utilisation de son site
          Web et de l'application mobile de <b>SAPE-MOI</b> à tout moment sans
          préavis. En utilisant ce site <b>SAPE-MOI</b>, vous acceptez d'être
          lié par la version actuelle de ces conditions d'utilisation.
        </p></ion-text
      >

      <ion-text color="secondary">
        <h3><b>8. Loi applicable**</b></h3>
      </ion-text>

      <ion-text>
        <p>
          Toute réclamation relative au site Web de <b>sape-moi.com</b> ou à
          l'application mobile de <b>SAPE-MOI</b> sera régie par les lois de
          l'État de Californie sans tenir compte de ses dispositions sans égard
          en matière de conflit de lois.
        </p></ion-text
      >

      <ion-text>
        <p>
          Conditions générales applicables à l'utilisation d'un site web et
          d'une application mobile <b>SAPE-MOI</b>.
        </p></ion-text
      >

      <ion-text color="secondary">
        <h1>Privacy Policy</h1>
      </ion-text>
      <ion-text>
        <p>Last updated: April 05, 2022</p>
        <p></p></ion-text
      ><ion-text>
        <p>
          This Privacy Policy describes Our policies and procedures on the
          collection, use and disclosure of Your information when You use the
          Service and tells You about Your privacy rights and how the law
          protects You.
        </p></ion-text
      >
      <ion-text
        ><p>
          We use Your Personal data to provide and improve the Service. By using
          the Service, You agree to the collection and use of information in
          accordance with this Privacy Policy. This Privacy Policy has been
          created with the help of the Privacy Policy Template.
        </p>
      </ion-text>

      <ion-text color="secondary">
        <h1>Interpretation</h1>
      </ion-text>
      <ion-text>
        The words of which the initial letter is capitalized have meanings
        defined under the following conditions. The following definitions shall
        have the same meaning regardless of whether they appear in singular or
        in plural.
      </ion-text>

      <ion-text color="secondary">
        <h1>Definitions</h1>
      </ion-text>
      <ion-text> For the purposes of this Privacy Policy: </ion-text>
      <ion-text>
        <p>
          <b>Account</b> means a unique account created for You to access our
          Service or parts of our Service.
        </p>
      </ion-text>
      <ion-text
        ><p>
          <b>Affiliate</b> means an entity that controls, is controlled by or is
          under common control with a party, where "control" means ownership of
          50% or more of the shares, equity interest or other securities
          entitled to vote for election of directors or other managing
          authority.
        </p>
      </ion-text>
      <ion-text
        ><p>
          <b>Application</b> means the software program provided by the Company
          downloaded by You on any electronic device, named Sape Moi
        </p>
      </ion-text>
      <ion-text>
        <p>
          <b>Company</b> (referred to as either "the Company", "We", "Us" or
          "Our" in this Agreement) refers to Sape Moi, l'inkub, batiment 1, rue
          du 13ème de ligne, 5800, Nevers.
        </p>
      </ion-text>
      <ion-text
        ><p><b>Country</b> refers to: France</p></ion-text
      ><ion-text
        ><p>
          <b>Device</b> means any device that can access the Service such as a
          computer, a cellphone or a digital tablet.
        </p></ion-text
      >
      <ion-text
        ><p>
          <b>Personal Data</b> is any information that relates to an identified
          or identifiable individual.
        </p></ion-text
      >
      <ion-text
        ><p><b>Service</b> refers to the Application.</p></ion-text
      >
      <ion-text
        ><p>
          <b>Service Provider</b> means any natural or legal person who
          processes the data on behalf of the Company. It refers to third-party
          companies or individuals employed by the Company to facilitate the
          Service, to provide the Service on behalf of the Company, to perform
          services related to the Service or to assist the Company in analyzing
          how the Service is used.
        </p></ion-text
      >
      <ion-text
        ><p>
          <b>Usage Data</b> refers to data collected automatically, either
          generated by the use of the Service or from the Service infrastructure
          itself (for example, the duration of a page visit).
        </p> </ion-text
      ><ion-text
        ><p>
          <b>You</b> means the individual accessing or using the Service, or the
          company, or other legal entity on behalf of which such individual is
          accessing or using the Service, as applicable.
        </p></ion-text
      >
      <ion-text color="secondary">
        <h1>Types of Data Collected</h1>
      </ion-text>
      <ion-text color="secondary">
        <h4>Personal Data</h4>
      </ion-text>
      <ion-text
        ><p>
          While using Our Service, We may ask You to provide Us with certain
          personally identifiable information that can be used to contact or
          identify You. Personally identifiable information may include, but is
          not limited to:
        </p>
      </ion-text>
      <ion-text><p>Email address</p> </ion-text>
      <ion-text><p>First name and last name</p> </ion-text>
      <ion-text><p>Usage Data</p> </ion-text>
      <ion-text color="secondary">
        <h4>Usage Data</h4>
      </ion-text>
      <ion-text
        ><p>Usage Data is collected automatically when using the Service.</p>
      </ion-text>
      <ion-text
        ><p>
          Usage Data may include information such as Your Device's Internet
          Protocol address (e.g. IP address), browser type, browser version, the
          pages of our Service that You visit, the time and date of Your visit,
          the time spent on those pages, unique device identifiers and other
          diagnostic data.
        </p>
      </ion-text>
      <ion-text
        ><p>
          When You access the Service by or through a mobile device, We may
          collect certain information automatically, including, but not limited
          to, the type of mobile device You use, Your mobile device unique ID,
          the IP address of Your mobile device, Your mobile operating system,
          the type of mobile Internet browser You use, unique device identifiers
          and other diagnostic data.
        </p>
      </ion-text>
      <ion-text
        ><p>
          We may also collect information that Your browser sends whenever You
          visit our Service or when You access the Service by or through a
          mobile device.
        </p>
      </ion-text>
      <ion-text color="secondary">
        <h4>Information Collected while Using the Application</h4>
      </ion-text>
      <ion-text
        ><p>
          While using Our Application, in order to provide features of Our
          Application, We may collect, with Your prior permission:
        </p>
      </ion-text>
      <ion-text
        ><p>
          Pictures and other information from your Device's camera and photo
          library
        </p>
      </ion-text>
      <ion-text
        ><p>
          We use this information to provide features of Our Service, to improve
          and customize Our Service. The information may be uploaded to the
          Company's servers and/or a Service Provider's server or it may be
          simply stored on Your device.
        </p>
      </ion-text>
      <ion-text
        ><p>
          You can enable or disable access to this information at any time,
          through Your Device settings.
        </p>
      </ion-text>

      <ion-text color="secondary">
        <h1>Use of Your Personal Data</h1>
      </ion-text>

      <ion-text
        ><p>The Company may use Personal Data for the following purposes:</p>
      </ion-text>

      <ion-text
        ><p>
          <b>To provide and maintain our Service</b>, including to monitor the
          usage of our Service.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>To manage Your Account:</b> to manage Your registration as a user
          of the Service. The Personal Data You provide can give You access to
          different functionalities of the Service that are available to You as
          a registered user.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>For the performance of a contract:</b> the development, compliance
          and undertaking of the purchase contract for the products, items or
          services You have purchased or of any other contract with Us through
          the Service.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>To contact You:</b> To contact You by email, telephone calls, SMS,
          or other equivalent forms of electronic communication, such as a
          mobile application's push notifications regarding updates or
          informative communications related to the functionalities, products or
          contracted services, including the security updates, when necessary or
          reasonable for their implementation.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>To provide You</b> with news, special offers and general
          information about other goods, services and events which we offer that
          are similar to those that you have already purchased or enquired about
          unless You have opted not to receive such information.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>To manage Your requests:</b> To attend and manage Your requests to
          Us.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>For business transfers:</b> We may use Your information to evaluate
          or conduct a merger, divestiture, restructuring, reorganization,
          dissolution, or other sale or transfer of some or all of Our assets,
          whether as a going concern or as part of bankruptcy, liquidation, or
          similar proceeding, in which Personal Data held by Us about our
          Service users is among the assets transferred.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>For other purposes:</b> We may use Your information for other
          purposes, such as data analysis, identifying usage trends, determining
          the effectiveness of our promotional campaigns and to evaluate and
          improve our Service, products, services, marketing and your
          experience.
        </p>
      </ion-text>

      <ion-text
        ><p>
          We may share Your personal information in the following situations:
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>With Service Providers:</b> We may share Your personal information
          with Service Providers to monitor and analyze the use of our Service,
          to contact You.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>For business transfers:</b> We may share or transfer Your personal
          information in connection with, or during negotiations of, any merger,
          sale of Company assets, financing, or acquisition of all or a portion
          of Our business to another company.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>With Affiliates:</b> We may share Your information with Our
          affiliates, in which case we will require those affiliates to honor
          this Privacy Policy. Affiliates include Our parent company and any
          other subsidiaries, joint venture partners or other companies that We
          control or that are under common control with Us.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>With business partners:</b> We may share Your information with Our
          business partners to offer You certain products, services or
          promotions.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>With other users:</b> when You share personal information or
          otherwise interact in the public areas with other users, such
          information may be viewed by all users and may be publicly distributed
          outside.
        </p>
      </ion-text>

      <ion-text
        ><p>
          <b>With Your consent:</b> We may disclose Your personal information
          for any other purpose with Your consent.
        </p>
      </ion-text>

      <ion-text color="secondary">
        <h1>Retention of Your Personal Data</h1>
      </ion-text>

      <ion-text
        ><p>
          The Company will retain Your Personal Data only for as long as is
          necessary for the purposes set out in this Privacy Policy. We will
          retain and use Your Personal Data to the extent necessary to comply
          with our legal obligations (for example, if we are required to retain
          your data to comply with applicable laws), resolve disputes, and
          enforce our legal agreements and policies.
        </p>
      </ion-text>

      <ion-text
        ><p>
          The Company will also retain Usage Data for internal analysis
          purposes. Usage Data is generally retained for a shorter period of
          time, except when this data is used to strengthen the security or to
          improve the functionality of Our Service, or We are legally obligated
          to retain this data for longer time periods.
        </p>
      </ion-text>

      <ion-text
        ><p>
          Your information, including Personal Data, is processed at the
          Company's operating offices and in any other places where the parties
          involved in the processing are located. It means that this information
          may be transferred to — and maintained on — computers located outside
          of Your state, province, country or other governmental jurisdiction
          where the data protection laws may differ than those from Your
          jurisdiction.
        </p>
      </ion-text>

      <ion-text
        ><p>
          Your consent to this Privacy Policy followed by Your submission of
          such information represents Your agreement to that transfer.
        </p>
      </ion-text>

      <ion-text
        ><p>
          The Company will take all steps reasonably necessary to ensure that
          Your data is treated securely and in accordance with this Privacy
          Policy and no transfer of Your Personal Data will take place to an
          organization or a country unless there are adequate controls in place
          including the security of Your data and other personal information.
        </p>
      </ion-text>

      <ion-text color="secondary">
        <h1>Disclosure of Your Personal Data</h1>
      </ion-text>

      <ion-text color="secondary">
        <h4>Business Transactions</h4>
      </ion-text>

      <ion-text
        ><p>
          If the Company is involved in a merger, acquisition or asset sale,
          Your Personal Data may be transferred. We will provide notice before
          Your Personal Data is transferred and becomes subject to a different
          Privacy Policy.
        </p>
      </ion-text>

      <ion-text color="secondary">
        <h4>Law enforcement</h4>
      </ion-text>

      <ion-text
        ><p>
          Under certain circumstances, the Company may be required to disclose
          Your Personal Data if required to do so by law or in response to valid
          requests by public authorities (e.g. a court or a government agency).
        </p>
      </ion-text>

      <ion-text color="secondary">
        <h4>Other legal requirements</h4>
      </ion-text>

      <ion-text
        ><p>
          The Company may disclose Your Personal Data in the good faith belief
          that such action is necessary to:
        </p>
      </ion-text>

      <ion-text><p>Comply with a legal obligation</p> </ion-text>

      <ion-text
        ><p>Protect and defend the rights or property of the Company</p>
      </ion-text>

      <ion-text
        ><p>
          Prevent or investigate possible wrongdoing in connection with the
          Service
        </p>
      </ion-text>

      <ion-text
        ><p>
          Protect the personal safety of Users of the Service or the public
        </p>
      </ion-text>

      <ion-text><p>Protect against legal liability</p> </ion-text>

      <ion-text color="secondary">
        <h1>Security of Your Personal Data</h1>
      </ion-text>

      <ion-text
        ><p>
          The security of Your Personal Data is important to Us, but remember
          that no method of transmission over the Internet, or method of
          electronic storage is 100% secure. While We strive to use commercially
          acceptable means to protect Your Personal Data, We cannot guarantee
          its absolute security.
        </p>
      </ion-text>

      <ion-text color="secondary">
        <h6>Children's Privacy</h6>
      </ion-text>

      <ion-text
        ><p>
          Our Service does not address anyone under the age of 13. We do not
          knowingly collect personally identifiable information from anyone
          under the age of 13. If You are a parent or guardian and You are aware
          that Your child has provided Us with Personal Data, please contact Us.
          If We become aware that We have collected Personal Data from anyone
          under the age of 13 without verification of parental consent, We take
          steps to remove that information from Our servers.
        </p>
      </ion-text>

      <ion-text
        ><p>
          If We need to rely on consent as a legal basis for processing Your
          information and Your country requires consent from a parent, We may
          require Your parent's consent before We collect and use that
          information.
        </p>
      </ion-text>

      <ion-text color="secondary">
        <h6>Links to Other Websites</h6>
      </ion-text>

      <ion-text
        ><p>
          Our Service may contain links to other websites that are not operated
          by Us. If You click on a third party link, You will be directed to
          that third party's site. We strongly advise You to review the Privacy
          Policy of every site You visit.
        </p>
      </ion-text>

      <ion-text
        ><p>
          We have no control over and assume no responsibility for the content,
          privacy policies or practices of any third party sites or services.
        </p>
      </ion-text>

      <ion-text color="secondary">
        <h6>Changes to this Privacy Policy</h6>
      </ion-text>

      <ion-text
        ><p>
          We may update Our Privacy Policy from time to time. We will notify You
          of any changes by posting the new Privacy Policy on this page.
        </p>
      </ion-text>

      <ion-text
        ><p>
          We will let You know via email and/or a prominent notice on Our
          Service, prior to the change becoming effective and update the "Last
          updated" date at the top of this Privacy Policy.
        </p>
      </ion-text>

      <ion-text
        ><p>
          You are advised to review this Privacy Policy periodically for any
          changes. Changes to this Privacy Policy are effective when they are
          posted on this page.
        </p>
      </ion-text>

      <ion-text color="secondary">
        <h6>Contact Us</h6>
      </ion-text>

      <ion-text
        ><p>
          If you have any questions about this Privacy Policy, You can contact
          us:
        </p>
      </ion-text>

      <ion-text><p>By email: contact@sapemoi.com</p> </ion-text>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { settings, ticket } from "ionicons/icons";
import {
  IonPage,
  IonContent,
  IonBackButton,
  IonButtons,
  IonTitle,
  IonToolbar,
  IonText,
} from "@ionic/vue";

export default {
  components: {
    IonContent,
    IonPage,
    IonBackButton,
    IonButtons,
    IonTitle,
    IonToolbar,
    IonText,
  },
  setup() {
    return {
      settings,
      ticket,
    };
  },
};
</script>

<style scoped>
.text {
  text-align: center;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centerdiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
</style>
