<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Conseils</ion-title>
        <ion-buttons slot="end">
          <ion-button @Click="refresh_action()">
            <ion-icon slot="start" :icon="refresh"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-refresher
        slot="fixed"
        pull-min="200"
        @ionRefresh="doRefresh($event)"
      >
        <ion-refresher-content/>
      </ion-refresher>
      <ion-grid>
        <ion-row>
          <ion-col
            size-xs="4"
            size-md="4"
            v-for="clothe of clothes"
            :key="clothe.id"
          >
            <card-clothe :clothe="clothe"></card-clothe>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-fab
        vertical="bottom"
        horizontal="end"
        slot="fixed"
        :router-link="{ name: 'add_clothe' }"
      >
        <ion-fab-button>
          <ion-icon :icon="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  add,
  refresh,
  chevronDownCircleOutline,
} from "ionicons/icons";
import {
  IonIcon,
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonButton,
  IonFabButton,
  IonRow,
  IonCol,
  IonGrid,
  IonFab,
  IonButtons,
  toastController,
  IonRefresherContent,
  IonRefresher,
} from "@ionic/vue";


import { useStore } from "../store";
import { computed, defineComponent } from "vue";
import CardClothe from "../components/CardClothe.vue";

export default defineComponent({
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    IonButton,
    CardClothe,
    IonIcon,
    IonFabButton,
    IonRow,
    IonCol,
    IonGrid,
    IonFab,
    IonButtons,
    IonRefresherContent,
    IonRefresher,
  },

  setup() {
    
    const store = useStore();
    store.dispatch("clothe/CLOTHES"); //TODO Mettre dans le onmounted

    async function show_toast() {
      const toast = await toastController.create({
        message: "La liste de vos vêtement a été mise à jour",
        duration: 2000,
      });
      return toast.present();
    }

    async function refresh_action() {
      await store.dispatch("clothe/CLOTHES");
      await show_toast();
    }

    const doRefresh = async (event: CustomEvent) => {
      console.log("Begin async operation");
      await store.dispatch("clothe/CLOTHES");
      setTimeout(async () => {
        console.log("Async operation has ended");
        await show_toast();

        //erreur ignorer comprend pas
        // eslint-disable-next-line @typescript-eslint/ban-ts-comment
        //@ts-ignore
        event.target.complete(); //The complete() method should be called when the async operation has completed
      }, 2000);
    };

    return {
      clothes: computed(() => store.state.clothe.all_clothes),
      
      add,
      refresh,
      refresh_action,
      doRefresh,
      chevronDownCircleOutline,
    };
  },
});
</script>
