<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title >Mes dressings</ion-title>
        <ion-buttons slot="start">
          <ion-back-button> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button @Click="refresh_action()">
            <ion-icon slot="start" :icon="refresh"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-refresher
        slot="fixed"
        pull-min="200"
        @ionRefresh="doRefresh($event)"
      >
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-item>
        <ion-title class="title"
          >Il est temps de remettre de l'ordre !</ion-title
        >
      </ion-item>



      <ion-grid>
        <ion-row>
          <ion-col
            size-xs="6"
            size-md="8"
            v-for="dressing of dressings"
            :key="dressing.id"
          >
            <card-dressing :dressing="dressing"></card-dressing>
          </ion-col>
        </ion-row>
      </ion-grid>
            <ion-fab
        vertical="bottom"
        horizontal="end"
        slot="fixed"
        :router-link="{ name: 'add_dressing' }"
      >
        <ion-fab-button>
          <ion-icon :icon="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { add, arrowRedo, trash, refresh } from "ionicons/icons";
import { usePhotoGallery } from "../composables/usePhotoGallery";
import { useStore } from "../store";
import { computed } from "vue";
import CardDressing from "../components/CardDressing.vue";
import {
  IonItem,
  IonTitle,
  IonGrid,
  IonCol,
  IonRow,
  toastController,
  IonContent,
  IonPage,
  IonFab,
  IonFabButton,
  IonButton,
  IonBackButton,
  IonButtons,
  IonToolbar,
  IonIcon,
  IonRefresherContent,
  IonRefresher,
  IonHeader,
} from "@ionic/vue";

export default {
  components: {
    IonItem,
    IonTitle,
    IonContent,
      IonFab,
  IonFabButton,
    IonPage,
    IonButton,
    IonBackButton,
    IonButtons,
    IonToolbar,
    IonRow,
    IonIcon,
    IonGrid,
    IonCol,
    CardDressing,
    IonRefresherContent,
  IonRefresher,
  IonHeader
  
  
  },
  setup() {
    const { takePhoto } = usePhotoGallery();
    const store = useStore();
    store.dispatch("dressing/DRESSINGS");
    async function show_toast() {
      const toast = await toastController.create({
        message: "La liste de vos dressings a été mise à jour",
        duration: 2000,
      });
      return toast.present();
    }
    async function refresh_action() {
      await store.dispatch("dressing/DRESSINGS");
      await show_toast();
    }
    const doRefresh = async (event: CustomEvent) => {
      console.log("Begin async operation");
      await store.dispatch("dressing/DRESSINGS");
      setTimeout(async () => {
        console.log("Async operation has ended");
        await show_toast();

        //erreur ignorer comprend pas
        // eslint-disable-next-line @typescript-eslint/ban-ts-comment
        //@ts-ignore
        event.target.complete(); //The complete() method should be called when the async operation has completed
      }, 2000);
    };

    return {
      dressings: computed(() => store.state.dressing.all_dressings),
      takePhoto,
      add,
      arrowRedo,
      trash,
      refresh,
      refresh_action,
      doRefresh,
    };
  },
};
</script>

<style scoped>
.title {
  text-align: center;
}

</style>
