<template>
  <ion-page>
    <ion-content>
      <div>
        <img
          style="position: absolute; center: 1"
          class="imghalfsize"
          src="/assets/fondaccueil.svg"
        />
        <img
          style="position: absolute; center: 1"
          class="innerimg"
          src="/assets/finalogo.svg"
        />
      </div>
      <div style="padding-top: 15em; text-align: center">
        <div style="text-align: center">
          <ion-title>En manque d'inspiration ?</ion-title>
          <ion-title>Laisse-nous t'aider !</ion-title>
        </div>
        <ion-button color="tertiary" style="margin: 0 auto" routerLink="/signup"
          >Rejoindre la Communauté</ion-button
        >
        <ion-item style="text-align: center">
          <ion-text style="">Déjà membre Sape-moi ?</ion-text>
          <a style="color: red; text-decoration-line: underline" href="/login"
            >Se Connecter</a
          >
        </ion-item>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonContent,
  IonButton,
  IonTitle,
  IonText,
  IonItem,
} from "@ionic/vue";

export default {
  components: { IonContent, IonPage, IonButton, IonTitle, IonText, IonItem },
};
</script>

<style scoped>
.centerz {
  text-align: center;
}
.imghalfsize {
  max-width: 200px;
  max-height: 200px;
}
.innerimg {
  max-width: 100px;
  max-height: 100px;
}
</style>
