<template>
  <!-- <div>
          <div class="parallelogramme"></div>
          <ion-label >Plus une minute à perdre</ion-label>
        </div> -->

  <!-- <ion-page>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="6" size-xs="11" class="">
        
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-card class="card">
              <ion-card-header>
                <ion-card-title>Plus une minute à perdre</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-label>On t'en demande pas beaucoup</ion-label>
        <form @submit.prevent>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Mot de passe</ion-label>
            <ion-input name="password" type="password" required></ion-input>
          </ion-item>
          <ion-row class="ion-justify-content-center">
              <ion-button v-on:click="onClick(MaFonctiondeconnecionici)">
                Se connecter
              </ion-button>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-page> -->

  <div class="ion-page">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="login-logo">
        <img src="/assets/finalogo.svg" alt="Ionic logo" />
      </div>

      <form novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="stacked" color="primary">E-Mail</ion-label>
            <ion-input
              v-model="mail"
              name="mail"
              type="text"
              spellcheck="false"
              autocapitalize="off"
              required
            ></ion-input>
          </ion-item>

          <ion-text color="danger">
            <p v-show="!mailValid || submitted == true" padding-left>
              E-Mail manquant
            </p>
          </ion-text>

          <ion-item>
            <ion-label position="stacked" color="primary"
              >Mot de passe</ion-label
            >
            <ion-input
              v-model="password"
              name="password"
              type="password"
              required
            ></ion-input>
          </ion-item>

          <ion-text color="danger">
            <p v-show="!passwordValid || submitted == true" padding-left>
              Mot de passe manquant
            </p>
          </ion-text>
        </ion-list>

        <ion-row responsive-sm>
          <ion-col>
            <ion-button @click="onLogin(loginForm)" type="submit" expand="block"
              >Connexion</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button href="/signup" color="light" expand="block"
              >Inscription</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-content>
    <p style="text-align: center">
      By signing in, I agree with
      <span style="color: red">Terms of Use</span> and
      <span style="color: gray">Privacy Policy </span>
    </p>
  </div>
</template>

<script lang="ts">
import {
  IonCol,
  IonContent,
  IonRow,
  IonList,
  IonItem,
  IonInput,
  IonLabel,
  IonHeader,
  IonToolbar,
  IonMenuButton,
  IonButtons,
  IonTitle,
  IonText,
  IonButton,
} from "@ionic/vue";

// export default new (class Login {
//   mail = "";
//   password = "";
//   submitted = false;
//   get mailValid() {
//     return true;
//   }
//   get passwordValid() {
//     return true;
//   }
//   onLogin(ev: any) {
//     ev.preventDefault();
//   }
// })();

export default {
  components: {
    IonCol,
    IonContent,
    IonRow,
    IonList,
    IonItem,
    IonInput,
    IonLabel,
    IonHeader,
    IonToolbar,
    IonMenuButton,
    IonButtons,
    IonTitle,
    IonText,
    IonButton,
  },
  setup() {
    const mail = "";
    const password = "";
    const submitted = false;
    const mailValid = false;
    const passwordValid = false;
    return { mail, password, submitted, mailValid, passwordValid };
  },
};
</script>

<style scoped>
.parallelogramme {
  width: 300px;
  height: 100px;
  background: #901f1f;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  tranform: skew(-10deg);
}
.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}
.login-logo img {
  max-width: 150px;
}
.list {
  margin-bottom: 0;
}
.card {
  background-color: #901f1f;
}
</style>
