<template>
  <ion-content>
    <!-- Segment with default selection -->
    <ion-segment @ionChange="segmentChanged($event)" :value="azerty">
      <ion-segment-button value="python">
        <ion-label>Python</ion-label>
      </ion-segment-button>
      <ion-segment-button value="javascript">
        <ion-label>Javascript</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div v-if="azerty == 'python'">python</div>
    <div v-if="azerty == 'javascript'">javascript</div>
  </ion-content>
</template>

<script lang="ts">
import { IonSegment, IonSegmentButton, IonContent, IonLabel } from "@ionic/vue";
import { defineComponent,ref } from "vue";

export default defineComponent({
  components: { IonSegment, IonSegmentButton, IonContent, IonLabel },
  setup() {
    let azerty = ref("python");

    async function segmentChanged(ev: CustomEvent) {
      console.log("Segment changed", ev);
      console.log(ev.detail.value);
      azerty.value = ev.detail.value;
    }

    return {
      azerty,
      segmentChanged,
    };
  },
});
</script>

<style scoped>
ion-icon {
  color: blue;
}
</style>
