<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Profil</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Profil</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-avatar class="centerimg">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>

      <ion-title class="center text">Informations personnelles</ion-title>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: right">
            <div>Nom:</div>
          </ion-col>
          <ion-col>
            <div>ARNAUD</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: right">
            <div>Prenom:</div>
          </ion-col>
          <ion-col>
            <div>Maxime</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: right">
            <div>Age:</div>
          </ion-col>
          <ion-col>
            <div>24 ans</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: right">
            <div>Abonnement:</div>
          </ion-col>
          <ion-col>
            <div>Version gratuite</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col style="margin: center">
            <div>
              <ion-button expand="block">
                <ion-icon :icon="settings"></ion-icon>
                Modifier mes informations
              </ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-button expand="block">
                <ion-icon :icon="ticket"></ion-icon>
                Achats et abonnements
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="block" href="/tabs/cgu">
        <ion-icon :icon="briefcase"></ion-icon>
        CGU & RGPD
      </ion-button>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { settings, ticket, briefcase } from "ionicons/icons";
import {
  IonPage,
  IonContent,
  IonButton,
  IonAvatar,
  IonTitle,
  IonToolbar,
  IonHeader,
  IonCol,
  IonRow,
  IonGrid,
  IonIcon,
} from "@ionic/vue";

export default {
  components: {
    IonContent,
    IonPage,
    IonButton,
    IonAvatar,
    IonTitle,
    IonToolbar,
    IonHeader,
    IonCol,
    IonRow,
    IonGrid,
    IonIcon,
  },
  setup() {
    return {
      settings,
      ticket,
      briefcase,
    };
  },
};
</script>

<style scoped>
.title {
  text-align: center;
  border-radius: 25px;
  border: 2px solid #050505;
}
.text {
  text-align: center;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centerdiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
</style>
