<template>
  <ion-page>
    <ion-header>
      <ion-toolbar class="toolbar">
        <ion-buttons slot="start">
          <ion-back-button default-href="/tabs/dressings"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ dressing.name }}</ion-title>
        <ion-buttons slot="end">
          <ion-button @Click="refresh_action()">
            <ion-icon slot="start" :icon="refresh"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-header>
      <ion-toolbar>
        <ion-segment @ionChange="segmentChanged($event)" :value="segmentValue">
          <ion-segment-button value="vetement">
            <ion-label>Vêtements</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tenue">
            <ion-label>Tenues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-refresher
        slot="fixed"
        pull-min="200"
        @ionRefresh="doRefresh($event)"
      >
        <ion-refresher-content />
      </ion-refresher>
      <!-- Segment with default selection -->

      <div v-if="segmentValue == 'vetement'">
        <ion-grid>
          <ion-row>
            <ion-col
              size-xs="4"
              size-md="4"
              v-for="clothe of clothes"
              :key="clothe.id"
            >
              <card-clothe :clothe="clothe"></card-clothe>
            </ion-col>
          </ion-row>
        </ion-grid>

        
      </div>
      <div v-if="segmentValue == 'tenue'">Tenue</div>
    </ion-content>
    <ion-fab
          vertical="bottom"
          horizontal="end"
          slot="fixed"
          :router-link="{ name: 'add_clothe' }"
        >
          <ion-fab-button>
            <ion-icon :icon="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  </ion-page>
</template>

<script lang="ts">
import {
  IonIcon,
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonBackButton,
  IonButtons,
  IonSegment,
  IonSegmentButton,
  IonLabel,
  IonButton,
  IonFabButton,
  IonRow,
  IonCol,
  IonGrid,
  IonFab,
  toastController,
  IonRefresherContent,
  IonRefresher,
} from "@ionic/vue";

//import DressingEditContainer from "../components/DressingEditContainer.vue";
import { onMounted, onUnmounted } from "@vue/runtime-core";
import { useRoute } from "vue-router";
import { useStore } from "../store";
import { computed, ref } from "vue";
import { add, refresh, chevronDownCircleOutline } from "ionicons/icons";
import CardClothe from "../components/CardClothe.vue";

export default {
  components: {
    IonIcon,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonPage,
    IonContent,
    IonBackButton,
    IonButtons,
    IonSegment,
    IonSegmentButton,
    IonLabel,
    IonButton,
    IonFabButton,
    IonRow,
    IonCol,
    IonGrid,
    IonFab,
    IonRefresherContent,
    IonRefresher,
    CardClothe,
  },

  setup() {
    const route = useRoute();
    const store = useStore();
    let segmentValue = ref("vetement");

    store.dispatch("clothe/CLOTHES"); //TODO Mettre dans le onmounted
    async function segmentChanged(ev: CustomEvent) {
      console.log("Segment changed", ev);
      console.log(ev.detail.value);
      segmentValue.value = ev.detail.value;
    }

    onMounted(async () => {
      if (route.params.id) {
        await store.dispatch("dressing/CURRENT_DRESSING", route.params.id);
        console.log(store.getters["dressing/current_dressing"]);
      } else {
        store.commit("dressing/set_current_dressing", {});
      }
    });

    async function show_toast() {
      const toast = await toastController.create({
        message: "La liste de vos vêtement a été mise à jour",
        duration: 2000,
      });
      return toast.present();
    }

    async function refresh_action() {
      await store.dispatch("clothe/CLOTHES");
      await show_toast();
    }

    const doRefresh = async (event: CustomEvent) => {
      console.log("Begin async operation");
      await store.dispatch("clothe/CLOTHES");
      setTimeout(async () => {
        console.log("Async operation has ended");
        await show_toast();

        //erreur ignorer comprend pas
        // eslint-disable-next-line @typescript-eslint/ban-ts-comment
        //@ts-ignore
        event.target.complete(); //The complete() method should be called when the async operation has completed
      }, 2000);
    };

    onUnmounted(() => {
      console.log("unmouted");
    });

    return {
      dressing: computed(() => store.getters["dressing/current_dressing"]),
      clothes: computed(() => store.state.clothe.all_clothes),
      refresh_action,
      doRefresh,
      segmentChanged,
      segmentValue,
      add,
      refresh,
      chevronDownCircleOutline,
    };
  },
};
</script>

<style scoped>
.toolbar {
  border-bottom: solid;
  border-color: var(
    --ion-toolbar-border-color,
    var(--ion-border-color, var(--ion-color-step-150, #c1c4cd))
  );
}
</style>
