<template>
  <ion-page>
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button> </ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonContent,
  IonButtons,
  IonBackButton,
  IonToolbar,
  IonHeader,
} from "@ionic/vue";

export default {
  components: {
    IonContent,
    IonPage,
    IonButtons,
    IonBackButton,
    IonToolbar,
    IonHeader,
  },
};
</script>

<style scoped></style>
