<template>
  <ion-page>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dressings" href="/tabs/dressings">
          <ion-icon :icon="home" />
          <ion-label>Dressing</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tenues" href="/tabs/tenues">
          <ion-icon :icon="body" />
          <ion-label>Tenues</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="calendrier" href="/tabs/calendrier">
          <ion-icon :icon="calendar" />
          <ion-label>Calendrier</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="chat" href="/tabs/chat">
          <ion-icon :icon="paperPlane" />
          <ion-badge>1</ion-badge>

          <ion-label>Chat</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profil" href="/tabs/profil">
          <ion-icon :icon="person" />
          <ion-label>Profil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script lang="ts">
import {
  IonTabBar,
  IonTabButton,
  IonTabs,
  IonLabel,
  IonIcon,
  IonPage,
  IonRouterOutlet,
  IonBadge,
} from "@ionic/vue";
import {
  ellipse,
  square,
  triangle,
  home,
  person,
  chatbubble,
  bag,
  shirt,
  bagCheck,
  paperPlane,
  calendar,
  body,
} from "ionicons/icons";

export default {
  components: {
    IonLabel,
    IonTabs,
    IonTabBar,
    IonTabButton,
    IonIcon,
    IonPage,
    IonRouterOutlet,
    IonBadge,
  },
  setup() {
    return {
      ellipse,
      square,
      triangle,
      home,
      person,
      chatbubble,
      bag,
      shirt,
      bagCheck,
      paperPlane,
      calendar,
      body,
    };
  },
};
</script>
