<template>
  <ion-page>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button> </ion-back-button>
      </ion-buttons>
      <ion-title class="title">Mes tenues </ion-title>
    </ion-toolbar>
    <ion-content>
      <ion-item>
        <ion-title class="title">Il est temps de remettre de l'ordre !</ion-title>
      </ion-item>

      <ion-button expand="block" routerLink="/create_tenue">
        <ion-icon :icon="add"></ion-icon>
        Créer une tenue
      </ion-button>
      <ion-toolbar>
        <ion-searchbar placeholder="Chercher un tenue..."></ion-searchbar>
      </ion-toolbar>
      <ion-item>
        <ion-title>Mes Tenues</ion-title>
      </ion-item>

      <ion-list>
        <ion-item v-for="item in items" :key="item.img">
          <ion-img :src="item.img" />
          <ion-title>{{ item.title }} </ion-title>
                    <ion-button color="danger" expand="block"
            ><ion-icon :icon="trash"></ion-icon>Supprimer</ion-button
          >
          <ion-button expand="block" href="/tabs/tenues/"
            ><ion-icon :icon="arrowRedo"></ion-icon>Voir</ion-button
          >        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { add, arrowRedo, trash } from "ionicons/icons";
import {
  IonImg,
  IonItem,
  IonTitle,
  IonContent,
  IonPage,
  IonButton,
} from "@ionic/vue";

export default {
  components: {
    IonImg,
    IonItem,
    IonTitle,
    IonContent,
    IonPage,
    IonButton,
  },
  setup() {
     const items = [
      {
        title: "Title 1",
        img: "/assets/img1.svg",
        id: "1",
      },
      {
        title: "Title 2",
        img: "/assets/img1.svg",
        id: "2",
      },
      {
        title: "Title 3",
        img: "/assets/img1.svg",
        id: "3",
      }
    ];
    return { items,add, arrowRedo, trash };
  },
};
</script>

<style scoped>
.title {
  text-align: center;
}
</style>
