<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="/tabs/dressings"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button v-if="clothe.id" @Click="setOpen(true)">
            <ion-icon slot="start" :icon="options"></ion-icon>
            <ion-action-sheet
              :is-open="isOpenRef"
              header="Actions"
              css-class="my-custom-class"
              :buttons="buttons"
              @didDismiss="setOpen(false)"
            />
            <ion-alert
              :is-open="isOpenRefAlert"
              header="Attention"
              sub-header="Suppression"
              message="voulez vous vraiment supprimer ce vêtement."
              :buttons="buttonsAlert"
              @didDismiss="setOpenAlert(false)"
            />
          </ion-button>
        </ion-buttons>
        <ion-title>{{
          clothe.id ? "Modifier un vêtement" : "Ajouter un vêtement"
        }}</ion-title>
        <!-- <ion-title v-if="!clothe.id">Ajouter un vêtement</ion-title>
        <ion-title v-else>Modifier un vêtement</ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <clothe-edit-container :clothe="clothe"></clothe-edit-container>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonBackButton,
  IonButtons,
  toastController,
  IonActionSheet,
  IonAlert,
  IonButton,
} from "@ionic/vue";

import ClotheEditContainer from "../components/ClotheEditContainer.vue";
import { onMounted, onUnmounted, ref } from "@vue/runtime-core";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "../store";
import { computed, defineComponent } from "vue";
import { IonIcon } from "@ionic/vue";
import { options, trash, share, heart, close, } from "ionicons/icons";

export default defineComponent({
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonPage,
    ClotheEditContainer,
    IonContent,
    IonBackButton,
    IonButtons,
    IonIcon,
    IonActionSheet,
    IonAlert,
    IonButton,
  },

  setup() {
    const route = useRoute();
    const router = useRouter();

    const store = useStore();
    const clothe = computed(() => store.getters["clothe/current_clothe"]);
    onMounted(async () => {
      if (route.params.id) {
        await store.dispatch("clothe/CURRENT_CLOTHE", route.params.id);
        console.log(store.getters["clothe/current_clothe"]);
      } else {
        store.commit("clothe/set_current_clothe", {});
      }
    });

    onUnmounted(() => {
      console.log("unmouted");
    });

    const isOpenRef = ref(false);
    const setOpen = (state: boolean) => (isOpenRef.value = state);
    const buttons = [
      {
        text: "Supprimer",
        role: "destructive",
        icon: trash,
        cssClass: "warning",
        handler: () => {
          setOpenAlert(true);
          console.log("Delete clicked");
        },
      },
      {
        text: "Partager/Share",
        icon: share,
        handler: () => {
          console.log("Share clicked");
        },
      },
      {
        text: "Ajouter aux favoris",
        icon: heart,
        handler: () => {
          console.log("Favorite clicked");
        },
      },
      {
        text: "Fermer",
        icon: close,
        role: "cancel",
        handler: () => {
          console.log("Cancel clicked");
        },
      },
    ];

    const isOpenRefAlert = ref(false);
    const setOpenAlert = (state: boolean) => (isOpenRefAlert.value = state);
    const buttonsAlert = [
      {
        text: "Fermer",
        role: "cancel",
        handler: () => {
          console.log("Confirm Cancel:");
        },
      },
      {
        text: "Confirmer",
        cssClass: "warning",

        handler: async () => {
          await store.dispatch("clothe/DELETE_CLOTHE", clothe.value);
          await store.dispatch("clothe/CLOTHES");
          show_toast("Vêtement supprimé");
          router.back()
          console.log("Confirm Okay");
        },
      },
    ];

    async function show_toast(text: string) {
      const toast = await toastController.create({
        message: text,
        duration: 2000,
      });
      return toast.present();
    }

    return {
      clothe,
      options,
      isOpenRef,
      setOpen,
      buttons,
      isOpenRefAlert,
      setOpenAlert,
      buttonsAlert,
    };
  },
});
</script>
