<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="/tabs/dressings"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button v-if="dressing.id" @Click="setOpen(true)">
            <ion-icon slot="start" :icon="options"></ion-icon>
            <ion-action-sheet
              :is-open="isOpenRef"
              header="Actions"
              css-class="my-custom-class"
              :buttons="buttons"
              @didDismiss="setOpen(false)"
            />
            <ion-alert
              :is-open="isOpenRefAlert"
              header="Attention"
              sub-header="Suppression"
              message="voulez vous vraiment supprimer ce dressing."
              :buttons="buttonsAlert"
              @didDismiss="setOpenAlert(false)"
            />
          </ion-button>
        </ion-buttons>

        <ion-title>{{
          dressing.id ? "Modifier un dressing" : "Ajouter un dressing"
        }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <dressing-edit-container :dressing="dressing"></dressing-edit-container>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonBackButton,
  IonButtons,
  toastController,
  IonActionSheet,
  IonAlert,
  IonButton,
} from "@ionic/vue";

import DressingEditContainer from "../components/DressingEditContainer.vue";
import { onMounted, onUnmounted, ref } from "@vue/runtime-core";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "../store";
import { computed, defineComponent } from "vue";
import { IonIcon } from "@ionic/vue";
import { options, trash, share,  close } from "ionicons/icons";

export default defineComponent({
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonPage,
    DressingEditContainer,
    IonContent,
    IonBackButton,
    IonButtons,
    IonIcon,
    IonActionSheet,
    IonAlert,
    IonButton,
  },

  setup() {
    const route = useRoute();
    const router = useRouter();

    const store = useStore();
    const dressing = computed(() => store.getters["dressing/current_dressing"]);

    onMounted(async () => {
      if (route.params.id) {
        await store.dispatch("dressing/CURRENT_DRESSING", route.params.id);
        console.log(store.getters["dressing/current_dressing"]);
      } else {
        store.commit("dressing/set_current_dressing", {});
      }
    });

    onUnmounted(() => {
      console.log("unmouted");
    });

    const isOpenRef = ref(false);
    const setOpen = (state: boolean) => (isOpenRef.value = state);
    const buttons = [
      {
        text: "Supprimer",
        role: "destructive",
        icon: trash,
        cssClass: "warning",
        handler: () => {
          setOpenAlert(true);
          console.log("Delete clicked");
        },
      },
      {
        text: "Partager/Share",
        icon: share,
        handler: () => {
          console.log("Share clicked");
        },
      },
      {
        text: "Fermer",
        icon: close,
        role: "cancel",
        handler: () => {
          console.log("Cancel clicked");
        },
      },
    ];

    const isOpenRefAlert = ref(false);
    const setOpenAlert = (state: boolean) => (isOpenRefAlert.value = state);
    const buttonsAlert = [
      {
        text: "Fermer",
        role: "cancel",
        handler: () => {
          console.log("Confirm Cancel:");
        },
      },
      {
        text: "Confirmer",
        cssClass: "warning",

        handler: async () => {
          await store.dispatch("dressing/DELETE_DRESSING", dressing.value);
          await store.dispatch("dressing/DRESSINGS");
          show_toast("Dressing supprimé");
          router.back();
          console.log("Confirm Okay");
        },
      },
    ];

    async function show_toast(text: string) {
      const toast = await toastController.create({
        message: text,
        duration: 2000,
      });
      return toast.present();
    }

    return {
      dressing,
      options,
      isOpenRef,
      setOpen,
      buttons,
      isOpenRefAlert,
      setOpenAlert,
      buttonsAlert,
    };
  },
});
</script>
