<template>
  <ion-card
    button="true"
    :router-link="{ name: 'show_dressing', params: { id: dressing.id } }"
  >
    <ion-icon
      @click.stop="setOpen(true)"
      class="parameter"
      :icon="options"
    ></ion-icon>
    <ion-action-sheet
      :is-open="isOpenRef"
      header="Actions"
      css-class="my-custom-class"
      :buttons="buttons"
      @didDismiss="setOpen(false)"
    >
    </ion-action-sheet>
    <ion-alert
      :is-open="isOpenRefAlert"
      header="Attention"
      sub-header="Suppression"
      message="voulez vous vraiment supprimer ce dressing."
      :buttons="buttonsAlert"
      @didDismiss="setOpenAlert(false)"
    ></ion-alert>
    <ion-img :src="imageURL" />
    <ion-card-content>
      <ion-card-title>{{ dressing.name }}</ion-card-title>
    </ion-card-content>
    <!-- <div>
      {{ dressing.name }}
    </div> -->
  </ion-card>
</template>

<script lang="ts">
import { computed, ref, defineComponent } from "vue";
import {
  IonImg,
  IonIcon,
  IonActionSheet,
  IonAlert,
  toastController,
  IonCard,
  IonCardTitle,
  IonCardContent,
} from "@ionic/vue";
import { useRouter } from "vue-router";
import {
  options,
  trash,
  caretForwardCircle,
  close,
  createOutline,
} from "ionicons/icons";
import { store } from "../store";

export default defineComponent({
  components: {
    IonImg,
    IonIcon,
    IonActionSheet,
    IonAlert,
    IonCard,
    IonCardTitle,
    IonCardContent,
  },
  setup(props: any) {
    const router = useRouter();

    const imageURL = computed(() => {
      if (props.dressing) {
        if (props.dressing.image) {
          return (
            "http://benoitlouveau.duckdns.org:1337" +
            `${props.dressing.image.url}`
          );
        }
      }
      return "https://blog.ameublier.com/wp-content/uploads/2020/06/amenagement-dressing-ameublier.jpg";
    });

    const isOpenRef = ref(false);
    const setOpen = (state: boolean) => (isOpenRef.value = state);
    const buttons = [
      {
        text: "Supprimer",
        role: "destructive",
        icon: trash,
        cssClass: "warning",
        handler: () => {
          setOpenAlert(true);
          console.log("Delete clicked");
        },
      },
      {
        text: "Modifier",
        icon: createOutline,
        handler: () => {
          console.log("Modifier clicked");
          router.push({
            name: "update_dressing",
            params: { id: props.dressing.id },
          });
        },
      },
      {
        text: "Ouvrir",
        icon: caretForwardCircle,
        handler: () => {
          console.log("Open clicked");
          router.push({
            name: "show_dressing",
            params: { id: props.dressing.id },
          });
        },
      } /*
      {
        text: "Ajouter aux favoris",
        icon: heart,
        handler: () => {
          console.log("Favorite clicked");
        },
      },*/,
      {
        text: "Fermer",
        icon: close,
        role: "cancel",
        handler: () => {
          console.log("Cancel clicked");
        },
      },
    ];

    const isOpenRefAlert = ref(false);
    const setOpenAlert = (state: boolean) => (isOpenRefAlert.value = state);
    const buttonsAlert = [
      {
        text: "Fermer",
        role: "cancel",
        cssClass: "secondary",
        handler: () => {
          console.log("Confirm Cancel:");
        },
      },
      {
        text: "Confirmer",
        cssClass: "warning",
        handler: async () => {
          await store.dispatch("dressing/DELETE_DRESSING", props.dressing);
          await store.dispatch("dressing/DRESSINGS");
          show_toast("Dressing supprimé");
          console.log("Confirm Okay");
        },
      },
    ];

    async function show_toast(text: string) {
      const toast = await toastController.create({
        message: text,
        duration: 2000,
      });
      return toast.present();
    }

    return {
      imageURL,
      options,
      isOpenRef,
      setOpen,
      buttons,
      isOpenRefAlert,
      setOpenAlert,
      buttonsAlert,
      createOutline,
    };
  },

  name: "CardDressing",
  props: {
    dressing: { type: Object, default: null },
  },
});
</script>

<style scoped>
.parameter {
  position: absolute;
  /* float: right; */
  color: black;
  font-size: 20px;
  top: 5px;
  right: 5px;
  overflow: visible;
}
/* @media (max-width: 500px) {
  ion-card {
    min-width: 100px;
    height: 180px;
  }
  ion-img {
    max-height: 150px;
    overflow: hidden;
    object-fit: contain;
  }
} */

ion-img {
  margin: 5px auto;
  /* height: 20vh !important; */
  height: 140px;
  width: auto !important;
  max-width: 95%;
  /* align-items: center; */
}

ion-card-content {
  padding: 0 !important;
}

ion-card-title {
  font-size: 1em;
  text-align: center;
  text-overflow: ellipsis;
  padding-bottom: 4px;
}
ion-card{
  margin: 0px;
}
</style>
