<template>
  <!-- <ion-card button="true"  @click="() => router.push({name:'update_clothe',params:{id:clothe.id}})"> -->
  <!-- <ion-card button="true" @click="goToClothe(clothe.id)"> -->
  <ion-card
    button="true"
    :router-link="{ name: 'update_clothe', params: { id: clothe.id } }"
  >
    <ion-icon
      @click.stop="setOpen(true)"
      class="parameter"
      :icon="options"
    ></ion-icon>
    <ion-action-sheet
      :is-open="isOpenRef"
      header="Actions"
      css-class="my-custom-class"
      :buttons="buttons"
      @didDismiss="setOpen(false)"
    />
    <ion-alert
      :is-open="isOpenRefAlert"
      header="Attention"
      sub-header="Suppression"
      message="voulez vous vraiment supprimer ce vêtement."
      :buttons="buttonsAlert"
      @didDismiss="setOpenAlert(false)"
    />
    <ion-img :src="imageURL" />
    <ion-card-content>
      <ion-card-title>{{ clothe.name }}</ion-card-title>
    </ion-card-content>
    <!-- <div>
      {{ clothe.name }}
    </div> -->
  </ion-card>
</template>

<script lang="ts">
import { computed, ref, defineComponent } from "vue";
import {
  IonImg,
  IonCard,
  IonIcon,
  IonActionSheet,
  IonAlert,
  toastController,
  IonCardContent,
  IonCardTitle,
} from "@ionic/vue";
import { useRouter } from "vue-router";
import {
  options,
  trash,
  share,
  caretForwardCircle,
  heart,
  close,
} from "ionicons/icons";
import { store } from "../store";

export default defineComponent({
  components: {
    IonImg,
    IonCard,
    IonIcon,
    IonActionSheet,
    IonAlert,
    IonCardContent,
    IonCardTitle,
  },
  setup(props: any) {
    const router = useRouter();

    const imageURL = computed(() => {
      if (props.clothe) {
        if (props.clothe.image) {
          return (
            "http://benoitlouveau.duckdns.org:1337" +
            `${props.clothe.image.url}`
          );
        }
      }
      return "http://www.ecopatrouille.org/data/69-ecopatrouille/ressources/images/eco_pjpg/chandail.jpg";
    });

    // function goToClothe(id:number) {
    //   router.push({ name: "update_clothe", params: { id: id } });
    // }

    const isOpenRef = ref(false);
    const setOpen = (state: boolean) => (isOpenRef.value = state);
    const buttons = [
      {
        text: "Supprimer",
        role: "destructive",
        icon: trash,
        cssClass: "warning",
        handler: () => {
          setOpenAlert(true);
          console.log("Delete clicked");
        },
      },
      {
        text: "Partager/Share",
        icon: share,
        handler: () => {
          console.log("Share clicked");
        },
      },
      {
        text: "Ouvrir",
        icon: caretForwardCircle,
        handler: () => {
          console.log("Open clicked");
          router.push({
            name: "update_clothe",
            params: { id: props.clothe.id },
          });
        },
      },
      {
        text: "Ajouter aux favoris",
        icon: heart,
        handler: () => {
          console.log("Favorite clicked");
        },
      },
      {
        text: "Fermer",
        icon: close,
        role: "cancel",
        handler: () => {
          console.log("Cancel clicked");
        },
      },
    ];

    const isOpenRefAlert = ref(false);
    const setOpenAlert = (state: boolean) => (isOpenRefAlert.value = state);
    const buttonsAlert = [
      {
        text: "Fermer",
        role: "cancel",
        handler: () => {
          console.log("Confirm Cancel:");
        },
      },
      {
        text: "Confirmer",
        cssClass: "warning",

        handler: async () => {
          await store.dispatch("clothe/DELETE_CLOTHE", props.clothe);
          await store.dispatch("clothe/CLOTHES");
          show_toast("Vêtement supprimé");
          console.log("Confirm Okay");
        },
      },
    ];

    async function show_toast(text: string) {
      const toast = await toastController.create({
        message: text,
        duration: 2000,
      });
      return toast.present();
    }

    return {
      imageURL,
      options,
      isOpenRef,
      setOpen,
      buttons,
      isOpenRefAlert,
      setOpenAlert,
      buttonsAlert,
      // router,
      // goToClothe,
    };
  },

  name: "CardClothe",
  props: {
    clothe: { type: Object, default: null },
  },
});
</script>

<style scoped>
.parameter {
  position: absolute;
  /* float: right; */
  color: black;
  font-size: 20px;
  top: 5px;
  right: 5px;
}

/* @media (max-width: 500px) {
  ion-card {
    min-width: 100px;
    height: 180px;
  }
  ion-img {
    max-height: 150px;
    overflow: hidden;
    object-fit: contain;
  }
} */

ion-card{
  margin: 0px;
}
ion-img {
  margin: 5px auto;
  /* height: 20vh !important; */
  height: 180px;
  width: auto !important;
  max-width: 95%;
  /* align-items: center; */
}

ion-card-content {
  padding: 0 !important;
}

ion-card-title {
  font-size: 1em;
  text-align: center;
    padding-bottom: 4px;
}



</style>
