<template>
  <!-- <div id="container">
      
  </div> -->
  <div>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Pantalon</ion-card-subtitle> -->

        <ion-card-title>{{ clothe.name }}</ion-card-title>
      </ion-card-header>

      <ion-card button="true" @click="setOpen(true)">
        <!-- <ion-icon :icon="trash" class="icon" @click="log()"></ion-icon>
        <ion-icon :icon="image" class="icon"></ion-icon>
        <ion-icon :icon="camera" class="icon"></ion-icon> -->
        <ion-icon
          @click.stop="setOpen(true)"
          class="parameter"
          :icon="options"
        ></ion-icon>
        <ion-action-sheet
          :is-open="isOpenRef"
          header="Actions"
          css-class="my-custom-class"
          :buttons="buttons"
          @didDismiss="setOpen(false)"
        />
        <ion-alert
          :is-open="isOpenRefAlert"
          header="Attention"
          sub-header="Suppression"
          message="voulez vous vraiment supprimer la photo."
          :buttons="buttonsAlert"
          @didDismiss="setOpenAlert(false)"
        />
        <ion-img :src="imageURL" />
      </ion-card>

      <ion-card-content>
        <form>
          <ion-item>
            <ion-label>Nom : </ion-label>
            <ion-input v-model="name" placeholder="Nom" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Taille : </ion-label>
            <ion-select value="size" interface="action-sheet">
              <ion-select-option value="s">S</ion-select-option>
              <ion-select-option value="m">M</ion-select-option>
              <ion-select-option value="l">L</ion-select-option>
              <ion-select-option value="xl">XL</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Marque : </ion-label>
            <ion-input placeholder="Marque" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Couleur : </ion-label>
            <ion-input placeholder="Couleur" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Type : </ion-label>
            <ion-input placeholder="Type" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Etat : </ion-label>
            <ion-input placeholder="Etat" type="text"></ion-input>
          </ion-item>
          <!-- <ion-item>
            <ion-input type="file"></ion-input>
          </ion-item> -->
          <ion-item>
            <ion-label>Description : </ion-label>
            <ion-textarea
              rows="4"
              cols="20"
              v-model="description"
              placeholder="Description"
            ></ion-textarea>
          </ion-item>
          <!-- <ion-button :router-link="{ name: 'conseils'}" > Anuler </ion-button> -->
          <ion-button v-if="clothe.id" @click="update_clothe()">
            Modifier
          </ion-button>
          <ion-button v-else @click="add_clothe()"> Ajouter </ion-button>
        </form>
        <ion-loading
          :is-open="isOpenRefLoading"
          cssClass="my-custom-class"
          message="Chargement en cours"
          @didDismiss="setOpenLoading(false)"
        />
      </ion-card-content>
    </ion-card>
  </div>
</template>

<script lang="ts">
import {
  IonIcon,
  IonButton,
  IonCard,
  IonCardContent,
  IonTextarea,
  IonLabel,
  IonItem,
  IonInput,
  IonSelect,
  IonCardHeader,
  IonCardTitle,
  IonImg,
  IonSelectOption,
  IonActionSheet,
  IonAlert,
  toastController,
  IonLoading,
} from "@ionic/vue";
import {
  trash,
  image,
  camera,
  options,
  closeCircle,
  close,
} from "ionicons/icons";
import { computed, ref } from "vue";
import { useStore } from "../store";
import { useRouter } from "vue-router";
import { usePhotoGallery } from "../composables/usePhotoGallery";
export default {
  components: {
    IonIcon,
    IonButton,
    IonCard,
    IonCardContent,
    IonTextarea,
    IonLabel,
    IonItem,
    IonInput,
    IonSelect,
    IonCardHeader,
    IonCardTitle,
    IonImg,
    IonSelectOption,
    IonActionSheet,
    IonAlert,
    IonLoading,
  },

  setup(props: any) {
    //let tmp_clothe = { name: "azertyuiop" };
    const store = useStore();
    const router = useRouter();
    const img_is_deleted = ref(false);
    const isOpenRefLoading = ref(false);
    const setOpenLoading = (state: boolean) => (isOpenRefLoading.value = state);
    const { myphoto, photos, takePhoto, pickPhoto } = usePhotoGallery();
    // <ion-button shape="round" icon-only @click="takePhoto()">
    //     <ion-icon :icon="camera"></ion-icon>
    //   </ion-button>

    // onMounted(() => {
    //   if (!props.clothe.id){
    //     store.commit("clothe/set_current_clothe",{name:""})
    //   }
    // });

    const imageURL = computed(() => {
      if (!img_is_deleted.value) {
        if (props.clothe) {
          if (props.clothe.newImage) {
            console.log(props.clothe.newImage);

            //return "/assets/img/pant.png"
            const url = URL.createObjectURL(props.clothe.newImage);
            //const url = props.clothe.newImage
            setOpenLoading(false);
            return url;
          }
          if (props.clothe.image) {
            return (
              "http://benoitlouveau.duckdns.org:1337" +
              `${props.clothe.image.url}`
            );
          }
        }
      }
      return "http://www.ecopatrouille.org/data/69-ecopatrouille/ressources/images/eco_pjpg/chandail.jpg";
    });
    const name = computed({
      get: () => store.state.clothe.current_clothe.name,
      set: (val) => store.commit("clothe/set_current_clothe_name", val),
    });
    const description = computed({
      get: () => store.state.clothe.current_clothe.description,
      set: (val) => store.commit("clothe/set_current_clothe_description", val),
    });

    async function show_toast(text: string) {
      const toast = await toastController.create({
        message: text,
        duration: 2000,
      });
      return toast.present();
    }
    async function add_clothe() {
      await store.dispatch("clothe/CREATE_CLOTHE", {
        clothe: store.state.clothe.current_clothe,
        userid: 1,
      });
      await store.dispatch("clothe/CLOTHES");
      show_toast("Vêtement ajouté");
      router.back();
    }

    async function update_clothe() {
      if (props.clothe.newImage === null) {
        await store.commit("clothe/set_current_clothe_image", null);     
      }
      await store.dispatch(
        "clothe/UPDATE_CLOTHE",
        store.state.clothe.current_clothe
      );
      await store.dispatch("clothe/CLOTHES");
      show_toast("Vêtement mis à jour");
      router.back();
    }

    function log() {
      console.log("log");
    }

    const isOpenRef = ref(false);
    const buttons = ref();
    const setOpen = (state: boolean) => {
      buttons.value = [
        {
          text: "Prendre une photo",
          icon: camera,
          handler: async () => {
            //TODO Prendre une photo
            await takePhoto();
            if (myphoto.value) {
              const response = await fetch(myphoto.value.webPath!);
              const blob = await response.blob();
              console.log(blob);
              img_is_deleted.value = false;
              store.commit("clothe/set_current_clothe_newImage", blob);
            }

            //store.commit("clothe/set_current_clothe_newImage", photos.value.slice(-1)[0]);
            //store.commit("clothe/set_current_clothe_newImage", "null");
            //img_is_deleted.value = false;

            console.log("Camera clicked");
          },
        },
        {
          text: "Choisir une photo dans l'album",
          icon: image,
          handler: async () => {
            await pickPhoto();
            if (myphoto.value) {
              const response = await fetch(myphoto.value.webPath!);
              const blob = await response.blob();
              console.log(blob);
              img_is_deleted.value = false;
              store.commit("clothe/set_current_clothe_newImage", blob);
            }
            //TODO Choisir dans l'album
            console.log("Album clicked");
          },
        },
        {
          text: "Fermer",
          icon: close,
          cssClass: "",

          role: "cancel",
          handler: () => {
            console.log("Cancel clicked");
          },
        },
      ];
      if (
        (props.clothe.image || props.clothe.newImage) &&
        !img_is_deleted.value
      ) {
        buttons.value.unshift({
          text: "Supprimer l'arriere plan",
          icon: closeCircle,
          handler: async () => {
            //TODO remouve background
            setOpenLoading(true);
            store.dispatch("clothe/REMOVE_BACKGROUND", props.clothe);
            console.log("Rembg clicked");
          },
        });
        buttons.value.unshift({
          text: "Supprimer la photo",
          role: "destructive",
          icon: trash,
          cssClass: "warning",
          handler: () => {
            setOpenAlert(true);
            console.log("Delete clicked");
          },
        });
      }
      isOpenRef.value = state;
    };

    const isOpenRefAlert = ref(false);
    const setOpenAlert = (state: boolean) => (isOpenRefAlert.value = state);
    const buttonsAlert = [
      {
        text: "Fermer",
        role: "cancel",
        handler: () => {
          console.log("Confirm Cancel:");
        },
      },
      {
        text: "Confirmer",
        cssClass: "warning",

        handler: async () => {
          // TODO Supprimer image
          store.commit("clothe/set_current_clothe_newImage", null);
          img_is_deleted.value = true;
          //image_default.value = true
          console.log("Confirm Okay");
        },
      },
    ];

    return {
      trash,
      image,
      camera,
      photos,
      add_clothe,
      update_clothe,
      name,
      description,
      imageURL,
      log,
      options,
      isOpenRef,
      setOpen,
      buttons,
      isOpenRefAlert,
      setOpenAlert,
      buttonsAlert,
      isOpenRefLoading,
      setOpenLoading,
      takePhoto,
      pickPhoto,
    };
  },

  name: "ClotheEditContainer",
  props: {
    clothe: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.icon {
  color: var(--ion-color-danger);
  font-size: 64px;
}
.parameter {
  position: absolute;
  /* float: right; */
  color: black;
  font-size: 32px;
  top: 5px;
  right: 25px;
}
</style>
