<template>
  <!-- <div id="container">
      
  </div> -->
  <div>
    <ion-card>
      <ion-icon :icon="trash" class="icon"></ion-icon>
      <ion-icon :icon="create" class="icon"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>Pantalon</ion-card-subtitle>
        <ion-card-title>{{ clothe.name }}</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-img src="/assets/img/pant.png" />
      </ion-item>

      <ion-card-content>
        <ion-card-title>Marque </ion-card-title>
        blanche
        <ion-card-title>Couleur </ion-card-title>
        Blanc perle
        <ion-card-title>Type </ion-card-title>
        Pentalon
        <ion-card-title>Etat </ion-card-title>
        Bon êtat
        <ion-card-title>Fréquence d'utilisation </ion-card-title>
        Vous avez porté ce vêtement 10 fois au cours de la derniere année
        <ion-card-title>Taille </ion-card-title>
        XL
        <ion-card-title>Description </ion-card-title>

        {{ clothe.description }}
      </ion-card-content>
    </ion-card>
  </div>
</template>

<script lang="ts">
import {
  IonIcon,
  IonCard,
  IonCardTitle,
  IonCardContent,
  IonItem,
  IonImg,
  IonCardSubtitle,
  IonCardHeader,
} from "@ionic/vue";
import { trash, create } from "ionicons/icons";
export default {
  components: {
    IonIcon,
    IonCard,
    IonCardTitle,
    IonCardContent,
    IonItem,
    IonImg,
    IonCardSubtitle,
    IonCardHeader,
  },
  setup() {
    return {
      trash,
      create,
    };
  },

  name: "ClotheContainer",
  props: {
    clothe: {},
  },
};
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.icon {
  color: var(--ion-color-danger);
  font-size: 32px;
}
</style>
