<template>
  <!-- <div id="container">
      
  </div> -->
  <div>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Pantalon</ion-card-subtitle> -->
        <ion-card-title>{{ dressing.name }}</ion-card-title>
      </ion-card-header>

      <ion-card button="true" @click="setOpen(true)">
        <!-- <ion-icon :icon="trash" class="icon" @click="log()"></ion-icon>
        <ion-icon :icon="image" class="icon"></ion-icon>
        <ion-icon :icon="camera" class="icon"></ion-icon> -->
        <ion-icon
          @click.stop="setOpen(true)"
          class="parameter"
          :icon="options"
        ></ion-icon>
        <ion-action-sheet
          :is-open="isOpenRef"
          header="Actions"
          css-class="my-custom-class"
          :buttons="buttons"
          @didDismiss="setOpen(false)"
        />
        <ion-alert
          :is-open="isOpenRefAlert"
          header="Attention"
          sub-header="Suppression"
          message="voulez vous vraiment supprimer la photo."
          :buttons="buttonsAlert"
          @didDismiss="setOpenAlert(false)"
        />
        <ion-img :src="imageURL" />
      </ion-card>

      <ion-card-content>
        <form>
          <ion-item>
            <ion-label>Nom : </ion-label>
            <ion-input v-model="name" placeholder="Nom" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description : </ion-label>
            <ion-textarea
              rows="6"
              cols="20"
              v-model="description"
              placeholder="Description"
            ></ion-textarea>
          </ion-item>
          <!-- <ion-button :router-link="{ name: 'conseils'}" > Anuler </ion-button> -->
          <ion-button v-if="dressing.id" @click="update_dressing()">
            Modifier
          </ion-button>
          <ion-button v-else @click="add_dressing()"> Ajouter </ion-button>
        </form>
        <ion-loading
          :is-open="isOpenRefLoading"
          cssClass="my-custom-class"
          message="Chargement en cours"
          @didDismiss="setOpenLoading(false)"
        />
      </ion-card-content>
    </ion-card>
  </div>
</template>

<script lang="ts">
import {
  IonIcon,
  IonButton,
  IonCard,
  IonCardContent,
  IonTextarea,
  IonLabel,
  IonItem,
  IonInput,
  IonCardHeader,
  IonCardTitle,
  IonImg,
  IonActionSheet,
  IonAlert,
  toastController,
  IonLoading,
} from "@ionic/vue";
import { trash, image, camera, close, options } from "ionicons/icons";
import { computed, ref } from "vue";
import { useStore } from "../store";
import { useRouter } from "vue-router";
import { usePhotoGallery } from "../composables/usePhotoGallery";
export default {
  components: {
    IonIcon,
    IonButton,
    IonCard,
    IonCardContent,
    IonTextarea,
    IonLabel,
    IonItem,
    IonInput,
    IonCardHeader,
    IonCardTitle,
    IonImg,
    IonActionSheet,
    IonAlert,
    IonLoading,
  },

  setup(props: any) {
    const store = useStore();
    const router = useRouter();
    const img_is_deleted = ref(false);
    const isOpenRefLoading = ref(false);
    const setOpenLoading = (state: boolean) => (isOpenRefLoading.value = state);
    const { myphoto, photos, takePhoto, pickPhoto } = usePhotoGallery();

    const imageURL = computed(() => {
      if (!img_is_deleted.value) {
        if (props.dressing) {
          if (props.dressing.newImage) {
            console.log(props.dressing.newImage);

            //return "/assets/img/pant.png"
            const url = URL.createObjectURL(props.dressing.newImage);
            //const url = props.clothe.newImage
            setOpenLoading(false);
            return url;
          }
          if (props.dressing.image) {
            return (
              "http://benoitlouveau.duckdns.org:1337" +
              `${props.dressing.image.url}`
            );
          }
        }
      }
      return "https://blog.ameublier.com/wp-content/uploads/2020/06/amenagement-dressing-ameublier.jpg";
    });
    const name = computed({
      get: () => store.state.dressing.current_dressing.name,
      set: (val) => store.commit("dressing/set_current_dressing_name", val),
    });
    const description = computed({
      get: () => store.state.dressing.current_dressing.description,
      set: (val) =>
        store.commit("dressing/set_current_dressing_description", val),
    });

    async function show_toast(text: string) {
      const toast = await toastController.create({
        message: text,
        duration: 2000,
      });
      return toast.present();
    }
    async function add_dressing() {
      await store.dispatch("dressing/CREATE_DRESSING", {
        dressing: store.state.dressing.current_dressing,
        userid: 1,
      });
      await store.dispatch("dressing/DRESSINGS");
      show_toast("Dressing ajouté");
      router.back();
    }

    async function update_dressing() {
      if (props.dressing.newImage === null) {
        await store.commit("dressing/set_current_dressing_image", null);
      }

      await await store.dispatch(
        "dressing/UPDATE_DRESSING",
        store.state.dressing.current_dressing
      );

      await store.dispatch("dressing/DRESSINGS");
      show_toast("Dressing mis à jour");
      router.back();
    }

    function log() {
      console.log("log");
    }

    const isOpenRef = ref(false);
    const buttons = ref();
    const setOpen = (state: boolean) => {
      buttons.value = [
        {
          text: "Prendre une photo",
          icon: camera,
          handler: async () => {
            //TODO Prendre une photo
            await takePhoto();
            if (myphoto.value) {
              const response = await fetch(myphoto.value.webPath!);
              const blob = await response.blob();
              console.log(blob);
              img_is_deleted.value = false;
              store.commit("dressing/set_current_dressing_newImage", blob);
            }

            console.log("Camera clicked");
          },
        },
        {
          text: "Choisir une photo dans l'album",
          icon: image,
          handler: async () => {
            await pickPhoto();
            if (myphoto.value) {
              const response = await fetch(myphoto.value.webPath!);
              const blob = await response.blob();
              console.log(blob);
              img_is_deleted.value = false;
              store.commit("dressing/set_current_dressing_newImage", blob);
            }
            //TODO Choisir dans l'album
            console.log("Album clicked");
          },
        },
        {
          text: "Fermer",
          icon: close,
          cssClass: "",

          role: "cancel",
          handler: () => {
            console.log("Cancel clicked");
          },
        },
      ];
      if (
        (props.dressing.image || props.dressing.newImage) &&
        !img_is_deleted.value
      ) {
        buttons.value.unshift({
          text: "Supprimer la photo",
          role: "destructive",
          icon: trash,
          cssClass: "warning",
          handler: () => {
            setOpenAlert(true);
            console.log("Delete clicked");
          },
        });
      }
      isOpenRef.value = state;
    };

    const isOpenRefAlert = ref(false);
    const setOpenAlert = (state: boolean) => (isOpenRefAlert.value = state);
    const buttonsAlert = [
      {
        text: "Fermer",
        role: "cancel",
        handler: () => {
          console.log("Confirm Cancel:");
        },
      },
      {
        text: "Confirmer",
        cssClass: "warning",

        handler: async () => {
          // TODO Supprimer image
          store.commit("dressing/set_current_dressing_newImage", null);
          img_is_deleted.value = true;
          //image_default.value = true
          console.log("Confirm Okay");
        },
      },
    ];

    return {
      trash,
      image,
      camera,
      photos,
      add_dressing,
      update_dressing,
      name,
      description,
      imageURL,
      log,
      options,
      isOpenRef,
      setOpen,
      buttons,
      isOpenRefAlert,
      setOpenAlert,
      buttonsAlert,
      isOpenRefLoading,
      setOpenLoading,
      takePhoto,
      pickPhoto,
    };
  },

  name: "DressingEditContainer",
  props: {
    dressing: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.icon {
  color: var(--ion-color-danger);
  font-size: 64px;
}
.parameter {
  position: absolute;
  /* float: right; */
  color: black;
  font-size: 32px;
  top: 5px;
  right: 25px;
}
</style>
